.Mi8-subpage {
    width: 100%;
    max-width: 42.5rem;
    box-sizing: border-box;

    .fast-instructions {
        padding-top: 12rem;

        ol {
            padding-bottom: 1rem;
        }
    }

    .instructions {
        // padding-top: 12rem;
        padding-inline-start: 0rem;
        position: relative;


        .instruction {
            color: rgb(51, 139, 0);
            font-weight: bold;
            font-size: 2.0rem;
            margin-bottom: 0.5rem;
            text-align: center;
            background-color: lightgreen;
            list-style-type: none;
            padding-left: 0;
        }

        .sub-instructions {
            padding-inline-start: 0rem;
            margin-bottom: 1.5rem;

            .sub-instruction {
                color: darkmagenta;
                padding-left: 0.5rem;
                font-weight: bold;
                padding-inline-start: 0rem;

                .desc {
                    text-align: center;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    font-weight: bold;
                }

                .container {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    // border: 1px solid black;

                    .left {
                        min-height: 1rem;
                        width: 100%;
                        max-width: 21.25rem;
                        border: 1px solid black;
                        color: rgb(0, 0, 0);
                        padding: 0.1rem 0.5rem;
                        font-size: 1.3rem;
                        font-weight: normal;
                    }

                    .right {
                        width: 100%;
                        max-width: 21.25rem;
                        // border: 1px solid black;
                        // border-left: none;
                        border-top: none;
                        display: flex;
                        justify-content: center;

                        img {
                            // width: fit-content;
                            width: 100%;
                            max-width: 21.25rem;
                            height: fit-content;
                            border-radius: 1.2rem;
                        }
                    }


                }

                .container_1row {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    font-weight: normal;
                    color: black;

                    .full_width {
                        width: 100%;
                        max-width: 42.5rem;
                        // border: 1px solid black;
                        // border-left: none;
                        border-top: none;
                        display: flex;
                        justify-content: center;

                        img {
                            // width: fit-content;
                            width: 100%;
                            max-width: 42.5rem;
                            height: fit-content;
                            border-radius: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}