.Mi8 {
    width: 100%;
    min-height: 100vh;
    font-size: 160%;
    position: relative;

    .header {
        min-height: 10rem;
        background-color: darkgrey;
        width: 100%;
        max-width: 42.5rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;

        .aircraft-name {
            font-weight: bold;
            padding: 0.2rem 1.5rem;
        }

        .navbar {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            padding-bottom: 1rem;
            justify-content: space-around;
            border-top: 1px solid black;
            border-bottom: 1px solid black;

            .navbar-fixed {
                display: flex;
                width: 100%;
                justify-content: space-around;

                .button {
                    padding: 0.5rem;
                }
            }

            .navbar-hiddable {
                width: 100%;
                background-color: brown;
                min-width: 10rem;
                min-height: 2rem;
                position: absolute;
                top: 7rem;
                display: flex;
                flex-direction: column;

                .submenu-lvl1 {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    text-align: left;
                }

                .navbar-hiddable-submenu {
                    display: flex;
                    flex-direction: column;

                    .submenu-lvl2 {
                        padding-top: 0.25rem;
                        padding-bottom: 0.25rem;
                        padding-left: 2.5rem;
                        text-align: left;
                    }
                }


            }
        }

        .category {
            width: 100%;
            text-align: center;
            font-size: 2.8rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    .main {
        // background-color: rgb(37, 37, 37);
        // height: 100vh;

        .img-mi8 {
            padding-top: 10rem;
            width: 100%;
            max-width: 42.5rem;
        }
    }

    .main-hidden {
        display: none;
    }
}