@media screen and (min-width: 320px) and (max-width: 791px) {
    .landing-page {
        width: 100%;
        height: 100vh;
        background-color: rgb(37, 130, 146);
    }
}

@media screen and (min-width: 792px) and (max-width: 1223px) {
    .landing-page {
        width: 100%;
        height: 100vh;
        background-color: rgb(179, 27, 27);
    }
}

@media screen and (min-width: 1224px) and (max-width: 1439px) {
    .landing-page {
        width: 100%;
        height: 100vh;
        background-color: rgb(161, 136, 136);
    }
}

@media screen and (min-width: 1440px) {
    .landing-page {
        width: 100%;
        height: 100vh;
        background-color: rgb(71, 160, 30);
    }
}